@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif; }

.modal p, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5 {
  margin: 0;
  padding: 0; }

.modal ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.modal_hearth_container {
  position: fixed;
  right: 20px;
  top: 20px;
  max-width: 645px;
  width: 645px;
  background: #FFF;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15); }
  .modal_hearth_container .modal_title {
    padding: 15px 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
    .modal_hearth_container .modal_title .modal_title_text {
      color: #0C56B5;
      font: normal .87rem 'PT Sans', sans-serif; }
      .modal_hearth_container .modal_title .modal_title_text .num {
        font: bold 1.2rem 'PT Sans', sans-serif; }
    .modal_hearth_container .modal_title .close_modal {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .modal_hearth_container .modal_title .close_modal:hover {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .modal_hearth_container .modal_hearth_wrap {
    display: grid;
    grid-template-columns: 1fr; }
    .modal_hearth_container .modal_hearth_wrap .modal_hearth_box {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      grid-gap: 15px;
      padding: 10px 20px 20px 20px;
      border-bottom: 1px solid #d6d6d6; }
    .modal_hearth_container .modal_hearth_wrap .modal_hearth_box:last-child {
      border: none; }
  .modal_hearth_container .modal_hearth_status {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
    .modal_hearth_container .modal_hearth_status .hearth_event_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .modal_hearth_container .modal_hearth_status .hearth_event_box .event_num {
        color: #424242;
        font: normal .87rem 'PT Sans', sans-serif;
        margin-right: 10px;
        text-decoration: underline; }
      .modal_hearth_container .modal_hearth_status .hearth_event_box .event_type {
        font: bold 1rem 'PT Sans', sans-serif;
        color: #D14609; }
    .modal_hearth_container .modal_hearth_status .hearth_event_victims {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .modal_hearth_container .modal_hearth_status .hearth_event_victims .event_death, .modal_hearth_container .modal_hearth_status .hearth_event_victims .event_wounded {
        color: #000;
        font: bold .87rem 'PT Sans', sans-serif; }
      .modal_hearth_container .modal_hearth_status .hearth_event_victims .event_death {
        margin-right: 40px; }
    .modal_hearth_container .modal_hearth_status .hearth_event_wether .event_wether {
      color: #797979;
      font: bold .87rem 'PT Sans', sans-serif; }
  .modal_hearth_container .modal_hearth_info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
    .modal_hearth_container .modal_hearth_info .info_data_text {
      font: bold .87rem 'PT Sans', sans-serif; }
    .modal_hearth_container .modal_hearth_info .info_street_text {
      font: 400 .87rem 'PT Sans', sans-serif; }
  .modal_hearth_container .modal_hearth_type {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px; }
    .modal_hearth_container .modal_hearth_type .hearth_type_num .type_num_text {
      text-decoration: underline; }
    .modal_hearth_container .modal_hearth_type .hearth_type_num .type_num_text, .modal_hearth_container .modal_hearth_type .hearth_type_num .type_num_status {
      font: 400 .87rem 'PT Sans', sans-serif;
      color: #797979; }
    .modal_hearth_container .modal_hearth_type .hearth_type_dtp {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .modal_hearth_container .modal_hearth_type .hearth_type_dtp img:first-child {
        margin-right: 20px; }
      .modal_hearth_container .modal_hearth_type .hearth_type_dtp img {
        max-width: 100%;
        height: auto;
        -o-object-fit: contain;
           object-fit: contain; }
